<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Вкладки</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div class="container">
          <a th:href="@{/my-books(user_id=${user.id})}" class="button">Список моїх книжок</a>
          <a href="/books" class="button">Бібліотека</a>
          <a href="/my-requests" class="button">Список запросів моїх книжок</a><br>
          <a href="/newbook" class="button">Добавити книжку</a><br>
    </div>
</div>
    <div class="container2">
    <a>id : <span th:text="${user.id}"></span></a>
    <a>Ім'я : <span th:text="${user.name}"></span></a>
    <a>Email : <span th:text="${user.email}"></span></a>
    <a>Телефон : <span th:text="${user.phone}"></span></a>
    <a>Місто : <span th:text="${user.city}"></span></a>
    </div>
</body>
</html>