<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Обмін книгами</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div class="container">
    <h1>Обмін книгами</h1>
    <p>Знайдіть книги для обміну та обмінюйтесь з іншими читачами.</p>

    <a href="login" class="button">Авторизація</a>

    <a href="register" class="button">Реєстрація</a>
</div>
</body>
</html>
