<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Book</title>
    <link rel="stylesheet" type="text/css" href="style.css">

</head>
<body>
<div class="container">
    <h3>Додати книгу</h3>

    <form action="#" th:action="@{/newbook}" th:object="${book}" method="post">
        <div class="form-group">
            <label for="name">Назва:</label>
            <input type="text" th:field="*{name}" id="name" placeholder="Name" required>
        </div>
        <div class="form-group">
            <label for="author">Автор:</label>
            <input type="text" th:field="*{author}" id="author" placeholder="Author" required>
        </div>

<!--этот блок-->
<!--        <div class="form-group">-->
<!--            <label for="genre">Жанр:</label>-->
<!--            <select id="genre" name="genre" th:field="*{genre}" required>-->
<!--                <option th:value="Фантастика" th:text= "Фантастика"></option>-->
<!--                <option th:value="Детектив" th:text= "Детектив"></option>-->
<!--                <option th:value="Пригоди" th:text= "Пригоди"></option>-->
<!--            </select>-->
<!--        </div>-->
<!--конец блока-->


        <button type="submit" class="button">Додати</button>
    </form>
</div>
</body>
</html>
